<div class='main'>
    <img class='main__logo' src="https://dbdzm869oupei.cloudfront.net/img/sticker/preview/4572.png" />
    <div class='main__menu'>
      <a routerLink="create-game.component" routerLinkActive="active" class='main__option'>
        <Button type='default'>
          Create game
        </Button>
      </a>
      <a routerLink="player-overview.component" routerLinkActive="active" class='main__option'>
        <Button type='default'>
          Player overview
        </Button>
      </a>
      <a routerLink="match-overview.component" routerLinkActive="active" class='main__option'>
        <Button type='default'>
          Match overview
        </Button>
      </a>
    </div>
</div>